
<%= form_tag sms_path do  %>
      <h1>TRY SMS </h1>

      <div class="field">
        <%= label :phone_number %><br>
        <%= text_field :phone_number %>
      </div>
      <%= submit_tag "AdminLogin" %>
<% end %>
