<p id="notice"><%= notice %></p>

<!-- JumboTron -->
<div id="jumbo-index" class="jumbotron">
    <div id="jumbo-text" class="container">
        <h1>
            <b>Listing Shops</b>
        </h1>
        <hr>
        <p>Welcome to our deliver shop.. Choose your food and have fun.</p>
    </div>
</div>
<!-- JumboTron -->

<hr>

<div class="container"></div>
<div class="row">
    <% @shops.each do |shop| %>
    <div class="col-md-3 col-sm-3">
        <div class="thumbnail">
            <h3><%= link_to shop.name , shop_path(shop.id) , method: :get %></h3>
            <%= link_to  cl_image_tag(shop.image, :gravity=>"face", :crop => "fill", :width => 450, :height => 450) , shop_path(shop.id) %>
            <div class="caption">
                <p>
                    <%= shop.description %>
                </p>
            </div>
        </div>
    </div>
</div>
<%  end %>
</div>
</div>
